body {
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.centered {
  justify-content: center;
}

.aligned {
  align-items: center;
}

.maxHeight {
  height: 100vh
}

.alignedText {
  text-align: center;
}

.oneHundred {
  width: 100%;
}

.ninetyPercent {
  width: 90%;
}

.marginAuto {
  margin: auto;
}

.noMargin {
  margin: 0;
}

#header {
  background-color: aquamarine;
  margin: 0;
  padding: 10px;
  position: relative;
}

.info-btn {
  position: absolute;
  right: 40px;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  border: none;
}

.text-input {
  height: 30px;
  width: 80%;
  max-width: 400px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 8px;
}

.std-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  background-color: aquamarine;
  color: black;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#instructions::backdrop {
  background-color: rgba(0, 0, 0, 0.339);
}

* {
  box-sizing: border-box;
}

#instructions {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin: auto;
  border-radius: 8px;
}
